.diagram {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--hidden {
        display: none;
    }

    &__title {
        text-align: center;
    }
}