.table {
    grid-column: 2 / -1;

    &--hidden {
        display: none;
    }

    &__title {
        text-align: center;
    }

    &__table {
        width: 100%;

        text-align: left;
    }

    &__delete {
        text-align: center;
    }
}